/* styles.css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Navigation Bar */
.navbar {
    background-color: #d45d5d; /* Set background color */
}

.navbar-brand {
    color: #333; /* Set text color */
    font-weight: bold; /* Set font weight */
}

.navbar-nav .nav-link {
    color: #540d0d; /* Set text color */
}

/* Header Section */
header {
    background-color: #333; /* Set background color */
    color: #fff; /* Set text color */
    padding: 10px; /* Add padding */
    text-align: center; /* Center-align text */
}

/* Services Section */
#services {
    background-color: #f9f9f9; /* Set background color */
    padding: 50px; /* Add padding */
    text-align: center; /* Center-align text */
}
.all-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service {
    /*display: inline-block;  Display inline */
    /* margin: 0 20px; Add margin */
    text-align: left; /* Left-align text */
    margin: 10px 0;
}

.service img {
    width: 100%;  
    height: 100%;
    margin-bottom: 10px;
    border-radius: 10px; 
    object-fit: cover;
}
.service-img-box{
    width: 500px;
    height: 300px;
}


/* Call-to-Action Section */
#cta {
    background-color: #263a4e; /* Set background color */
    color: #fff; /* Set text color */
    padding: 10px; /* Add padding */
    text-align: center; /* Center-align text */
}

/* Testimonials Section */
#testimonials {
    background-color: #333; /* Set background color */
    color: #fff; /* Set text color */
    padding: 30px; /* Add padding */
    text-align: center; /* Center-align text */
}

.testimonial {
    margin-bottom: 20px; /* Add bottom margin */
}

blockquote {
    font-style: italic; /* Italicize text */
}

cite {
    font-weight: bold; /* Set font weight */
}

/* Contact Section */
#contact {
    background-color: #f9f9f9; /* Set background color */
    padding: 50px; /* Add padding */
    text-align: center; /* Center-align text */
}

/* Footer Section */
footer {
    background-color: #333; /* Set background color */
    color: #fff; /* Set text color */
    padding: 20px; /* Add padding */
    text-align: center; /* Center-align text */
}

@media (max-width:992px) {
    .service-img-box{
        width: 100%;
        height: auto;
    }
    h3 {
        font-size: 20px !important;
    }
    h1{
        font-size: 30px !important;
    }
    h2{
        font-size: 25px !important;
    }
    
}